.navBar {
  width: 100%;
  height: 50px;
  background: #04AA6D;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  align-items: center;
  color: white;
}

.navBarLogo {
  margin: 0 20px;
}

.navBarUser {
  margin: 0 20px;
}